*{
    margin:0;
    padding:0
}
body {
    font-family: helvetica;
    margin: 10px 20px;
}

h1 {
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

.row {
    margin: 10px 20px;
}

.person-row {
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    float: left;
    background-color: #b7d78d;
}

.person-row img {
    float: left;
    margin-right: 20px;
}

.person-info {
    float: left;
}

.person-row > button {
    float: right;
}

button{
    padding: 5px;
}

.home_div{
    text-align: center;
}

#results {
    margin: 30px 20px 10px 0px;
}

#header {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color:#3de3a6;
}


